# Project build
/server/java/target/
/client/node_modules
/server/node/node_modules

# large osm files
/server/java/data/osmconvert64.exe
/server/java/data/osm/

# created when log file doesn't close properly
/server/java/src/main/java/rideshare.controller/utils/logs/*.lck
/server/java/src/main/java/Sh1tToIgnore/


