# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Project bu
/target/

# large osm files
/data/osmconvert64.exe
/data/osm/

# created when log file doesn't close properly
/data/logs/*.lck

/src/main/java/Sh1tToIgnore/
